<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        &copy; <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>, unless otherwise noted.
    </span>
</footer>
